version: "3"
services:
  valheim-server: 
    image: ghcr.io/lloesche/valheim-server
    cap_add:
      - sys_nice
    volumes: 
      - $HOME/valheim-server/config:/config
      - $HOME/valheim-server/data:/opt/valheim
    ports: 
      - "2456-2458:2456-2458/udp"
      - "8080:80/tcp"
    restart: always
    stop_grace_period: 2m
    environment:
      - SERVER_PORT=2456
      - SERVER_NAME=[GameCenter] Valheim-1
      - WORLD_NAME=Gameplay
      - SERVER_PASS=gameplay
      - TZ=America/Sao_Paulo
      - SERVER_PUBLIC=true
      - SERVER_ARGS=-crossplay
      - STATUS_HTTP=true
      - STATUS_HTTP_PORT=80
      - 'PRE_START_HOOK=curl --request POST --url https://discord.com/api/webhooks/1052696367337840750/A6CY2wHHrYfPqcJuNbNZihyIiZ9wl6TjMwi6vKTr6bgo7rfWe3VAv4IaL_xf-i3W5RyU --header "Content-Type: application/json" --data "{\"username\": \"Valheim\",\"content\": \"$$(eval echo Starting Valheim Server: $$SERVER_NAME)\",\"avatar_url\": \"https://gcdn.thunderstore.io/live/repository/icons/DrBratanPfanne-RoVModPack-2.0.14.png.128x128_q95.png\"}"'
      - 'POST_SERVER_LISTENING_HOOK=curl --request POST --url https://discord.com/api/webhooks/1052696367337840750/A6CY2wHHrYfPqcJuNbNZihyIiZ9wl6TjMwi6vKTr6bgo7rfWe3VAv4IaL_xf-i3W5RyU --header "Content-Type: application/json" --data "{\"username\": \"Valheim\",\"content\": \"$$(eval echo Server ir READY! (Server: $$SERVER_NAME, World: $$WORLD_NAME))\",\"avatar_url\": \"https://gcdn.thunderstore.io/live/repository/icons/DrBratanPfanne-RoVModPack-2.0.14.png.128x128_q95.png\"}"'
      - 'PRE_RESTART_HOOK=curl --request POST --url https://discord.com/api/webhooks/1052696367337840750/A6CY2wHHrYfPqcJuNbNZihyIiZ9wl6TjMwi6vKTr6bgo7rfWe3VAv4IaL_xf-i3W5RyU --header "Content-Type: application/json" --data "{\"username\": \"Valheim\",\"content\": \"$$(eval echo Restarting Valheim Server: $$SERVER_NAME)\",\"avatar_url\": \"https://gcdn.thunderstore.io/live/repository/icons/DrBratanPfanne-RoVModPack-2.0.14.png.128x128_q95.png\"}"'
      - 'PRE_SERVER_SHUTDOWN_HOOK=curl --request POST --url https://discord.com/api/webhooks/1052696367337840750/A6CY2wHHrYfPqcJuNbNZihyIiZ9wl6TjMwi6vKTr6bgo7rfWe3VAv4IaL_xf-i3W5RyU --header "Content-Type: application/json" --data "{\"username\": \"Valheim\",\"content\": \"$$(eval echo Shuttingdown Valheim Server: $$SERVER_NAME )\",\"avatar_url\": \"https://gcdn.thunderstore.io/live/repository/icons/DrBratanPfanne-RoVModPack-2.0.14.png.128x128_q95.png\"}"'